html, body {
  display: grid;
}
.v-application {
  display: grid;
  background-color: transparent;
}
.v-main .home {
  display: grid;
}
.modal-form {
  width: 40%;
}
.guns {
  background-color: blue;
}
.cars {
  background-color: green;
}
.tools {
  background-color: gray;
}
.other {
  background-color: lightblue;
}
.knives {
  background-color: lightgreen;
}
.coins {
  background-color: lightgray;
}